﻿@{
    Layout = "~/views/shared/_masterLayout.cshtml";
}

@section Styles{
<link type="text/css" rel="stylesheet" href="~/Contents/css/adminlayout.css" />
   @RenderSection("initalCSS", false)
    }

  <div id="signout">
       
            እንካን ደህና መጡ @HttpContext.Current.User.Identity.Name  
            <a class="anchS-out"href="@Url.Action("signout", "login")"> መዉጫ</a> 
     
  </div>
  


    @*<div class="container">
        <nav class="navi">
            <div id="menu">
                <ul>
                    <li><a href="#">Home</a><span class="Darrow">&#9660;</span>
                        <ul class="sub1">
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">HOME</a></li>
                        </ul>
                    </li>
                    <li><a href="#">User List</a><span class="Darrow">&#9660;</span>
                        <ul class="sub1">
                            <li><a href="@Url.Action("ListUsers", "ListOfUsers")">List Users</a></li>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">HOME</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Employee Admin</a><span class="Darrow">&#9660;</span>
                        <ul class="sub1">
                            <li><a href="@Url.Action("index", "AddEmployee")">Add</a></li>
                            <li><a href="@Url.Action("Index", "EmployeesList")">List</a></li>
                            <li><a href="#">HOME</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Announcement Admin</a><span class="Darrow">&#9660;</span>
                        <ul class="sub1">

                            <li><a href="#">HOME</a></li>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">HOME</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
        
    </div>*@

<div class="container">
        <nav class="navi">
            <div id="menu">
                <ul>
                    <li>
                        <a href="#">የቅጥረኛ መዝገብ</a><span class="Darrow">&#9660;</span>
                        <ul class="sub1">
                            <li><a href="@Url.Action("EmployeeId", "Employee")">የቅጥረኛ መታወቅያ ቁጥር</a></li>
                            <li><a href="@Url.Action("Index", "SetSalary")">የቅጥረኛ ደሞዝ </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">የተገልጋይ ማውጫ</a><span class="Darrow">&#9660;</span>
                        <ul class="sub1">
                            <li><a href="@Url.Action("ListUsers", "ListOfUsers")">የተገልጋይ ዝርዝር</a></li>
                            <li><a href="@Url.Action("Index", "Finance")">የሂሣብ ክፍል</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#">Employee Admin</a><span class="Darrow">&#9660;</span>
                        <ul class="sub1">
                            <li><a href="@Url.Action("index", "AddEmployee")">Add</a></li>
                             <li><a href="@Url.Action("Index", "EmployeesList")">List</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#">የአስተዳደር ማስታወቂያ</a><span class="Darrow">&#9660;</span>
                        <ul class="sub1">

                            <li><a href="@Url.Action("Edit", "AnnouncementAdmin")">ማስተካከያ</a></li>
                            <li><a href="@Url.Action("List", "AnnouncementAdmin")">ዝርዝር ማውጫ</a></li>

                        </ul>
                    </li>

                </ul>
            </div>
        </nav>

    </div>

@RenderSection("BodyPart",false)