﻿body {
    background-color: white;
}
h2 {
    margin-top:150px;
    background-color:#7ca334;
    text-align:center;
}
.addform {
    background-color:white;
    border:groove;
    border-color:black;
    margin-top:50px;
    margin-left:300px;
    align-content:center;
    padding:10px;
    height:300px;
    width:400px;
}
.fieldbox {
    width:100%;
    height:2em;
}
.Labels {
    color:black;
    font-family:'Comic Sans MS';
    float: left;
    
}

br{
clear: both;
}

.Field
{
    padding: 0.1em; 
    width: 18em; 
    float:right;
    height:1em;
}
/*#EmployeeName {
   padding:4px;
   margin:1px;
   margin-left:5.5px;

}
#IDnumber {
    padding: 4px;
    margin:5px;
    margin-left: 17.5px;
}
#dob {
    padding: 4px;
    margin:5px;
    margin-left: 17.5px;
}*/
#Proflie {
    width: 12em;
}
#Register {
    margin:25px;
    height:30px;
    color:black;
    float: right;
    font-size: 15px;
    width:80px;
    border-radius: 25px;
    background-color:#7ca334;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
}

#Register:hover {
    background-color:ghostwhite; 
    color:black;

}