﻿#signout {
    display:inline-block;
    margin-top:-80px;
    padding-left:35px;
    font-size: 17px;
    float:right;
    color:white;
    border: 1.4px solid midnightblue;
    margin-right:10px;
	width:17%;
}

.anchS-out{
    display:block;
    margin-top:15px;
    padding-left:140px;
    color:darkred;

}


.container1 { 
    background-color: #ccccec;
    padding-top:0;
    margin-top:0;
    height:60px;
	width:100%;
	
}
.navi {  background-color: #8dd20e;
    color: black;
}


/*.navi ul
{
	margin:0;
    height:30px;
}*/
.navi li{
     display:inline-block;
	-webkit-border-radius:5px;
	 list-style:none;
	 text-align:center;
     padding-right:50px;
      margin-right:30px;
	 font:12px arial verdana;
	 position:relative;
	 height:30px;
     width:140px;
}
.navi a{
	text-decoration:none;
	 display:inline-block;
	padding-top:10px;
	color:white;
    width:auto;
}
.navi li:hover{
background-color:orange;

}


      /*rules for navigation Sub-menu*/
     /* =============================*/
   
.navi #menu .sub1 {
	display:none;
	position:absolute;
	margin:0px;
	padding:0px;
	top:30px;
    width:189px;
	clear:both;
	
}
.navi #menu .sub1 li {
	/*border:2px solid black;*/
     

}

.sub1 a{
    padding-left:15px;
    /*line-height:10px;*/
    width:140px;
	color:white;
	
}
.navi #menu  li:hover ul{
	display:block;
    background-color:crimson;
    border-radius:5px;
}


.Darrow{
	font-size:10px;
	position:absolute;
	top:12px;
	right:4px;
}
