﻿
.container1 { 
    background-color: #ccccec;
    padding-top:0;
    margin-top:0;
    height:60px;
	width:100%;
	
}
.navi {  background-color: #8dd20e;
    color: white;
}


.navi ul
{
	margin:0;
    height:30px;
}
.navi li{
     display:inline-block;
	-webkit-border-radius:5px;
	 float:right;
	 list-style:none;
	 text-align:center;
     padding-right:50px;
     margin-right:20px;
	 font:18px Forte;
	 position:relative;
	 height:30px;
}
.navi a{
	text-decoration:none;
	 display:inline-block;
	line-height:10px;
	color:white;
}
.navi li:hover{
background-color:orange;

}