﻿
#container2{
	width:100%;
    background-size:100% 100%;
    background-image:url('../Images/Background.png');
	height:430px;
	
}
 /*#LeftSideImageSlider Css*/
#slider{
	width:740px;
	height:380px;
	padding:0%;
	margin-right:15px;
    margin-left:15px;
    margin-top:15px;
    margin-bottom:15px;
	float:left;
    overflow:hidden;
}
.slides{
    display:block;
    width:6000px;
    height:400px;
    margin:0;
    padding:0;
}
.slide{
    float:left;
    list-style-type:none;
    width:740px;
    height:400px;
}
 img{
    width:70%;
}

 /*#RightSideLoginForm Css*/
.loginform {

    background-color:#cbd3d8;
    opacity:1.5;
    color:black;
    float:right;
    -webkit-border-radius:25px;
    margin-right:30px;
    margin-top:80px;
    font-family:'Comic Sans MS';
    padding:10px;
    width:300px;
}

input {
border-radius:10px;
width:180px;
float:right;
margin-right:4px;

}
#userName {
padding:4px;
margin:5px;
margin-left:5.5px;

}
#password {
padding:4px;
margin:5px;
margin-left:17.5px;

}
hr {
border-color:blanchedalmond;
}

#log {
    margin:25px;
    height:30px;
    color:white;
    float: right;
    font-size: 15px;
    width:80px;
    /*border-radius: 10px;*/
    background-color:#034b54;
   /*-webkit-transition-duration: 0.4s;  /*Safari */
   /*transition-duration: 0.4s;*/
}

#log:hover {
    background-color:#7ca334;
    color:black;

}

  